.fc-header-toolbar{
	.fc-center{
		text-transform: capitalize;
		margin: 0px auto;
		display: block;
		width: 100%;
		float: left;
		h2{
			display: block;
			width: 100%;
			text-align: center;
			font-size: 1.5em;
			letter-spacing: 2px;
		}
	}
	.fc-left,
	.fc-right{
		display:none;
		/*display: flex;*/
		justify-content: center;
		width: 100%;
	}
	button{
		float:none !important;
		box-shadow: none !important;
		position: relative;
		margin-bottom:10px !important;
		.button-primary();
		.border-radius(2px) !important;
		.hover-button-effect-primary() !important;
		&:active{
			.press-button();
		}
		text-shadow: none !important;
		font-weight: normal !important;
		letter-spacing: 1px !important;
	}
}
.fc th, .fc td {
	background: white;
}
.fc-view-container{
	.fc-day-number {
		text-decoration: none !important;
	}
	.fc-view{
		border-radius: 2px;
		overflow: hidden;
		td{
			&.fc-today.fc-widget-content {
				background: rgba(0,0,0,0.1);
			}
		}
		.fc-head{
			.fc-day-header{
				background: @color-primary-light;
				color: @color-secondary;
				text-transform: capitalize;
				overflow:hidden;
				padding: 1px 2px;
				a{
					color: @color-secondary;
					text-decoration: none;
				}
			}

		}
		.fc-body{
			.fc-bg{
				background: @color-secondary;
			}
			.fc-content-skeleton{
				td{
					font-weight: bold;
				}
				.fc-more{
					text-decoration: none;
				}
			}
			.fc-event{
				border-radius:2px;
				background: @color-primary-light;
				padding: 2px;
				padding-left: 3px;
				/*border:none;*/
				border: solid 1px white;
				.fc-time{
					display:none;
				}
			}
		}
		.fc-day-grid.fc-unselectable{
			/*display:none;*/
		}
	}

	/* Month view */
	.fc-month-view{
		.fc-head-container.fc-widget-header {
			border-color: transparent;
			border-bottom: none;
			&>.fc-widget-header{
				&>table{
					border-top: solid 1px white;
					border-left: solid 1px white;
					border-right: solid 1px white;
					&>thead>tr>th.fc-axis.fc-widget-header{
						border-top: solid 1px transparent;
					}
				}
			}
		}
		.fc-body{
			&>tr>td{
				border-left: none;
				border-right: none;
				border-bottom: none;
				border-top: none;
			}
		}
	}
	/* Week Schedule */
	.fc-agendaWeek-view,
	.fc-agendaDay-view{
		.fc-head-container.fc-widget-header {
			border-color: transparent;
			border-bottom: none;
			&>.fc-widget-header{
				&>table{
					border-top: solid 1px white;
					&>thead>tr>th.fc-axis.fc-widget-header{
						border-top: solid 1px transparent;
					}
				}
			}
		}
		.fc-body{
			&>tr>td{
				border-left: none;
				border-right: none;
				border-bottom: none;
				border-top: none;
			}
			.fc-widget-content{
				.fc-day-grid.fc-unselectable{
					display: none;
				}
				hr.fc-divider{
					display: none;
				}
				.fc-axis.fc-time.fc-widget-content {
					color: @color-primary;
				}

			}
		}
	}
	/* List Week */
	.fc-listWeek-view{
		background: @color-secondary;
		color: @color-primary;
		.fc-list-empty {
			background-color:  @color-secondary;
		}
		.fc-widget-header{
			background: @color-primary-light;
			a{
				color: @color-secondary;
				text-decoration: none;
				text-transform: capitalize;
			}
		}
		.fc-event-dot{
			background-color: @color-primary-light;
		}
		.fc-list-item{
			a{
				cursor:auto;
			}
			a:hover{
				cursor:auto;
			}
		}
	}
	.fc-popover.fc-more-popover{
		.fc-header.fc-widget-header{
			background: @color-primary-light;
			color:@color-secondary;
			.fc-close{
				color:@color-secondary;
			}
		}
	}
}
