// FUNCTIONS
.item-active(){
	background: @color-primary;
	.transition(background 0.3s linear) ;
}
.item-desactive(){
	background: @white;
	.transition(background 0.3s linear) ;
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}
.opacity-dark(){
	.opacity-hover(0.8);
}
.opacity-light(){
	.opacity-hover(0.4);
}

.opacity-hover (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
	.transition(all linear 0.2s);
	&:hover{
		-webkit-opacity: 	1;
		-moz-opacity: 		1;
		opacity: 		1;
		.transition(all linear 0.2s);
	}
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}
@-webkit-keyframes boing {
	0% { .rotate(0deg); }
	25% {.rotate(15deg);}
	50% {.rotate(0deg);}
	75% {.rotate(-15deg);}
	100% {.rotate(0deg);}
}
.filter(@filter){
	-webkit-filter: @filter;
	-moz-filter: @filter;
	-o-filter: @filter;
	-ms-filter: @filter;
	filter: @filter;
}
.blur(@blur){
	-webkit-filter: blur(@blur);
	-moz-filter: blur(@blur);
	-o-filter: blur(@blur);
	-ms-filter: blur(@blur);
	filter: blur(@blur);
}
.hack-blur(){
	transform: translateZ(0); /*for older browsers*/
	will-change: transform;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1000;
	transform: translate3d(0,0,0);
	transform: translateZ(0);
}

/* Alejo el objeto en la perspectiva cuando el usuario presiona sobre él */
.press-button:active i{
	.press-button();
}

button.press-button:active{
	.press-button()
}
.press-button(){
	// Creo el efecto de hundimiento para el botón
	transform : perspective(600px) translateZ(-50px) rotateX(0deg) rotateZ(0deg);
	.transition(all 0.15s linear);
}
body.no-animations{
	.press-button(){
		transform : none !important;
		.transition(none) !important;
	}
}
.enabled-buttons(){
	i:hover[data-title]:after {
		display: -webkit-flex; /* Safari */
		display: flex;
	}
	i:before{
		cursor: pointer;
		.opacity(0.35);
	}
	&:hover{
		i:before{
			.animation(boing, 1s, infinite, linear);
			.transition(all linear 0.2s);
		}
	}
}


/* Button default CSS */
.button-primary(){
	color: @color-secondary !important;
	background-color: @color-primary !important;
	margin:0px 4px;
	font-size: 1em;
	outline:none;
	width:120px;
	border-radius:2px;
	padding:1px 5px;
	height: auto;
}
/* Hover button effect */
.hover-button-effect-primary(){
	border: solid 1px rgba(255,255,255,0.2);
	background: transparent;
	.transition( all 0.2s ease-out);
	&:not([type=text]):hover{
		.transition( all 0.2s ease-out);
		background: rgba(255,255,255,0.05)!important;
		border-color: rgba(255,255,255,0.3);
	}
	&:active,
		&:focus{
		border-color: rgba(255,255,255,0.3);
	}
}
.hover-button-effect-inverse(){
	border: solid 1px rgba(255,255,255,0.2);

	background: transparent;
	.transition( all 0.2s ease-out);
	&:hover{
		.transition( all 0.2s ease-out);
		background: rgba(0,0,0,0.05)!important;
		border-color:  rgba(255,255,255,0.3);

	}
	&:active,
		&:focus{
		border-color:  rgba(255,255,255,0.3);
	}
}
.animation-inOut(@in:fadeIn, @out:fadeOut, @tIn:0.2s, @tOut:0.2s){
	&.ng-enter {
		animation : @in @tIn 0s linear!important;
		-webkit-animation : @in @tIn 0s linear !important;
	}
	&.ng-leave {
		animation : @out @tOut 0s linear !important;
		-webkit-animation : @out @tOut 0s linear !important;
	}
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	box-shadow: none;
	-webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}

/* Zoom */
.zoom(@zoom:1.5){
	zoom: @zoom; /* IE */
	-moz-transform: scale(@zoom); /* Firefox */
	-moz-transform-origin: 0 0;
	-o-transform: scale(@zoom); /* Opera */
	-o-transform-origin: 0 0;
	-webkit-transform: scale(@zoom); /* Safari And Chrome */
	-webkit-transform-origin: 0 0;
	transform: scale(@zoom); /* Standard Property */
	transform-origin: 0 0;  /* Standard Property */
}