.content-body.grid{
	.tile-progress{
		position: relative;
		cursor:default;
		height:200px;
		overflow: hidden;
		&:hover{
			.tile-footer{
				bottom: 0px;
				.transition(bottom ease-out 0.2s);
			}
		}
		.transition( all 0.2s ease-out);
		.item-active();
		&.desactive{
			border:solid 1px rgba(0,0,0,0.2);
			.item-desactive();
			.tile-header{
				.item-desactive();
				.image-item{
					cursor:default;
					opacity:0.3 !important;
				}
				label{
					cursor:default;
					i{
						cursor:default;
					}
				}
			}
			.tile-footer{
				.item-desactive();
				bottom: 0px;
				h3,
				span{
					color:@color-text-light;
				}
				.tile-footer-buttons{
					.item-desactive();
					a{
						i.entypo-battery:before{
							font-weight: lighter !important;
						}
						i:before{
							color: @color-text-dark;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	.tile-header{
		width: 100%;
		padding: 0px;
		height: 70%;
		overflow: hidden;
		display: -webkit-flex; /* Safari */
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.item-active();
		.border-radius(2px) !important;
		.background-default;
		.image-item{
			display: none;
			/*opacity: 0.3;*/
			opacity: 1;
			filter: grayscale(50%);
			height: auto;
			width: 150%;
			left: -30px;
			top: -30px;
			.transition( all 0.2s ease-out);
		}
	}
	.tile-footer{
		@padding-horizontal-footer: 10px;
		padding: 5px @padding-horizontal-footer 0;
		display: inline-block;
		background: @color-primary;
		position: absolute;
		width: 100%;
		bottom: -22px;
		.transition(bottom ease-out .2s);
		h3,
		span{
			margin-top: 0px;
			margin-bottom: 0px;
			width: auto;
			padding: 0px;
			white-space: nowrap;
			overflow: hidden;
			max-width: 100%;
			border-radius:2px;
			text-overflow: ellipsis;
		}
		h3{
			font-size: 1.3em;
		}
		span{
			font-size: 1em;
			height:18px;
			a{
				color: rgba(255, 255, 255, 0.7);
				&[data-title]:after{
					content: attr(data-title);
					.tooltip;
					right: 10px;
					margin-top: -20px;
				}
				&:hover[data-title]:after {
					.tooltip-animation;
				}
			}
		}
		.tile-footer-buttons{
			padding: 0;
			display: -webkit-flex;
			display: flex;
			justify-content: space-around;
			width:  calc(~'100% + '(@padding-horizontal-footer*2));
			left: -@padding-horizontal-footer;
			height: 30px;
			position: relative;
			bottom: -7px;
			border-top: solid 1px rgba(0,0,0,0.1);
			background: rgba(0,0,0,0.1);
			a{
				text-align: center;
				i{
					display: -webkit-flex; /* Safari */
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					cursor:pointer;
					color: @color-secondary;
					padding: 7px;
					top:-3px;
					.opacity-light();
					opacity:0.6;
					&.entypo-pencil{
						font-size:16px;
						left: 5px;
					}
					&.entypo-block{
						font-size:13px;
					}
					&.entypo-cancel{
						font-size:20px;
						top:-6px;
						right: 4px;
					}
				}
				i[data-title]:after{
					content: attr(data-title);
					margin-top: -25px;
					.tooltip;
				}
				i:hover[data-title]:after {
					.tooltip-animation;
				}
			}
		}
	}
	.tile-progress:not(.desactive):hover{
		.image-item{
			height: auto;
			width: 130%;
			left: -20px;
			top: -20px;
			/*opacity:0.6;*/
			filter: grayscale(0%);
			.transition( all 0.2s ease-out);
		}
	}
}

body.no-animations{
	.tile-progress{
		.image-item{
			height: auto !important;
			width: 130% !important;
			left: -20px !important;
			top: -20px !important;
			opacity:0.6 !important;
		}
		.tile-footer {
			bottom: 0 !important;
		}
	}
}