.content-body.list{
	@height-item:150px;
	.tile-progress{
		position: relative;
		cursor:default;
		overflow: hidden;
		&:hover{
			.tile-footer{
				bottom: 0px;
				.transition(bottom ease-out 0.2s);
			}
		}
		.transition( all 0.2s ease-out);
		.item-active();
		&.desactive{
			.item-desactive();
			border:solid 1px rgba(0,0,0,0.2);
			.tile-header{
				.item-desactive();
				.image-item{
					cursor:default;
					opacity:0.3 !important;
				}
				label{
					cursor:default;
					i{
						cursor:default;
					}
				}
			}
			.tile-footer{
				.item-desactive();
				bottom: 0px;
				border-left: solid 1px rgba(0,0,0,0.2);
				h3,
				span{
					color:@color-text-light;
				}
				.tile-footer-buttons{
					a{
						i.entypo-battery:before{
							font-weight: lighter !important;
						}
						i:before{
							color: @color-text-dark;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	.tile-header{
		width: 30%;
		padding: 0px;
		height: @height-item;
		float:left;
		overflow: hidden;
		/*display: inline-block;*/
		display: -webkit-flex; /* Safari */
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.item-active();
		.border-radius(2px) !important;
		.background-default;
		.image-item{
			/*opacity: 0.3;*/
			opacity: 1;
			filter: grayscale(50%);
			height: auto;
			width: 130%;
			left: 0px;
			top: 0px;
			bottom: 0px;
			/*		width: 160%;
					display: none;
					left: -30px;
					top: -30px;
					.transition( all 0.2s ease-out);
			*/
		}
	}
	.tile-footer{
		@padding-horizontal-footer: 10px;
		padding: 10px 15px;
		display: inline-block;
		float:left;
		height:@height-item;
		position: relative;
		width: 70%;
		border-radius: 0px 2px 2px 0px!important;
		.transition(bottom ease-out .2s);
		h3,
		span{
			margin-top: 0px;
			margin-bottom: 0px;
			width: auto;
			padding: 0px;
			/*white-space: nowrap;*/
			overflow: hidden;
			max-width: 100%;
			text-align: left;
			border-radius:2px;
			text-overflow: ellipsis;
			height:auto !important;
		}
		h3{
			font-size: 1.5em;
		}
		span{
			font-size: 1em;
			height:16px;
			a{
				color: rgba(255, 255, 255, 0.7);
				&[data-title]:after{
					content: attr(data-title);
					.tooltip;
					right: 10px;
					margin-top: -20px;
				}
				&:hover[data-title]:after {
					.tooltip-animation;
				}
			}
		}
		.tile-footer-buttons{
			padding: 0;
			display: -webkit-flex;
			display: flex;
			justify-content: space-around;
			width: 100%;
			height: 30px;
			position: absolute;
			bottom: -6px;
			left: 0px;
			border-top: solid 1px rgba(0,0,0,0.1);
			background: rgba(0,0,0,0.1);
			a{
				text-align: center;
				i{
					display: -webkit-flex; /* Safari */
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					cursor:pointer;
					color: @color-secondary;
					padding: 7px;
					.opacity-light();
					opacity:0.6;
					&.entypo-pencil{
						font-size:16px;
						top:-3px;
						left: 5px;
					}
					&.entypo-block{
						top:-3px;
						font-size:13px;
					}
					&.entypo-cancel{
						font-size:20px;
						top: -6px;
						right: 4px;
					}
					&.entypo-publish{
						top:-3px;
					}
				}
				i[data-title]:after{
					content: attr(data-title);
					margin-top: -25px;
					.tooltip;
				}
				i:hover[data-title]:after {
					.tooltip-animation;
				}
			}
		}
	}
	.tile-progress:not(.desactive):hover{
		.image-item{
			/*opacity:0.6;*/
			filter: grayscale(0%);
			.transition( all 0.2s ease-out);
		}
	}
}