/* LOGIN PAGE */
.login-left{
	height: 100%;
    width: 50%;
	float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	/*	.blur(4px);
		.hack-blur();*/
	.img-login{
		height: 100%;
		width: auto;
	}
}
.login-right{
	width:50%;
    height: 100%;
	float: left;
	position: relative;
    /*opacity: 0.9;*/
	background: @color-primary;
	border-left:solid 1px @color-primary-dark;
	.login-content{
		position:absolute;
		width: 100%;
		padding:40px;
		bottom:0px;
		margin: 100px auto;
		text-align: right;
		.logo-login{
			position: relative;
			height: auto !important;
			width: 100%;
			opacity: 0.7;
			margin-bottom: 40px;
		}
		form{
			width: 100%;
			padding: 0px;
			border-radius: 2px;
			position:relative;
			top:-20px;
			input[type="text"],
			input[type="password"]{
				text-align: left;
			}
			input[type="password"]{
				letter-spacing: 2px;
			}
			label{
				text-align: left;
				margin-bottom: 0;
				color: #909aad;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: normal;
				font-size: .7em;
			}
			.form-entry{
				width:100%;
				margin-bottom:0px !important;
				padding:0px;
				text-align: left;
				.btn-item{
					background: transparent !important;
				}
			}
			.form-actions{
				margin-top:20px;
				width:50%;
				display:inline-block;
				float:left;
				button{
					.opacity-dark();
				}
				&.remember{
					text-align: left;
					label.control-label{
						position: relative;
						left: 27px;
						top: 1px;
						letter-spacing: 0px;
						word-wrap: normal;
					}
					.label-checkbox{
						position: relative;
						top: -18px;
						padding:0px;
						input[type=checkbox]:checked+div:after {
							left: 2px;
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
	&:after{
		@size-arrow: 30px;
		@size-arrow-half: @size-arrow/2;
		position: absolute;
		content: '';
		left: 0;
		bottom: 0;
		margin-left: -@size-arrow;
		top:50%;
		width: 0;
		height: 0;
		border-bottom: @size-arrow solid transparent;
		border-top: @size-arrow solid transparent;
		border-right: @size-arrow solid @color-primary;
		font-size: 0;
		line-height: 0;
		.transition(all 550ms ease-in-out);
	}
}


/* LOCKED PAGE */
.login-container{
	background: @color-primary;
	height: 100%;
    width: 100%;
}
.login-header {
	position: relative;
	/*background: rgba(255,255,255,0.03);*/
	background: @color-primary-light;
	padding: 100px 0;
	.transition(all 550ms ease-in-out);

	img.logo-locked{
		height: 80px;
		position: relative;
		display:block;
		margin:0px auto;
	}
	p.description {
		display:block;
		margin: 0 auto;
		width: 100%;
		position: relative;
		text-align: center;
		color: @color-text-inverse;
		font-size: 13px;
		margin-bottom: 0;
		padding: 0px 5px;
		.transition(all 550ms ease-in-out);
	}

}
.locked-form {
	position: relative;
	margin:-70px auto 0px;
	.transition(all 550ms ease-in-out);
	.locked-content {
		position: relative;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 0px;
		.transition(all 550ms ease-in-out);
		form{
			width:40%;
			margin:0px auto;
			.form-entry .btn-item{
				display:block;
				width:100% ;
			}
			.form-entry input[type=text],
			.form-entry input[type=password]{
				text-align: center;
				letter-spacing: 2px;
			}
			.form-entry button[type=submit].btn-item{
				margin:20px 0px 5px;
			}
			.form-entry button.btn-item{
				margin:0px;
			}
		}
	}
	.lockscreen-thumb{
		position: relative;
		display: inline-block;
		height: 150px;
		width: 150px;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		border: 5px solid @color-primary-light;
		background: @color-primary-light;
		img{
			height: 150%;
			width:auto;
		}
	}
	.lockscreen-details {
		position: relative;
		padding-top: 5px;
		h4{
			color: @color-secondary;
			font-size: 15px;
		}
	}
}