@import "/EP-Dashboard/assets/less/variables.less";
@import "/EP-Dashboard/assets/less/functions.less";
/*@import "/dashboard/assets/less/variables.less";
@import "/dashboard/assets/less/functions.less";*/

/* Big Scren */
@media (min-width: 1400px){
	/* Item image */
	.tile-image{
		height: calc(@height-image-item ~"+" 100px) !important;
	}
}

/* Landscape Tablet or old PCs */
@media (max-width: 1024px){
	body{
		#app-view{
			.page-container{
				#menu-view{
					width: 100% !important;
					height: @menu-height !important;
					.sidebar-menu{
						width: 100%;
						position: relative;
						min-height: 0px !important;
						display: block;
						.sidebar-menu-inner{
							position: relative;
							width: 100%;
							min-height: 0px !important;
							overflow: inherit !important;
							.logo-env{
								height:100% ;
								width:auto;
								.logo{
									position: absolute;
									left: 20px;
									top: 7px;
									width: 45px;
									height: 45px;
								}
								.sidebar-mobile-menu{
									position: absolute;
									right:20px;
									display: block;
								}
							}
							.main-menu{
								max-height:0px;
								overflow:hidden;
								border-color:transparent;
								.transition(all linear 0.5s);
								&.open{
									.transition(all linear 0.5s);
									border-color: @color-primary-dark;
									background: @color-primary;
									max-height:1000px;
								}
								li{
									a{
										padding: 10px 40px;
									}
									ul li a{
										padding: 10px 60px;
									}
									&.active a{
										background: rgba(0,0,0,0.1)!important;
									}
								}
							}
							.sidebar-mobile-menu{
								position: absolute;
								right: 10px;
								display:block;
							}
						}
					}
				}
				#content-view{
					margin-top: @menu-height;
					width:100%;
					left:0px;
					height: 100%;
					display: block;
					float: none;
					.content-header{
						padding: 40px 40px 0px !important;
					}
					.content-filter{
						padding: 0px 40px 0px !important;
						margin-top: 75px !important;
					}
					.content-body{
						height: calc(~'100% - 120px') !important;
						&.table{
							.td-hide-responsive-xs{
								display:none !important;
							}
						}
						.tile-group.dashboard{
							.log-container{
								.log-item{
									height: 50px !important;
									div.text-logactivities{
										float: left !important;
										text-align: left !important;
									}
									div.time-logactivities {
										padding-left: 2px !important;
										width: 100% !important;
										float: left !important;
										text-align: left !important;
									}
								}
							}
						}
					}
				}
			}
		}
		.login-left{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			/*			.blur(3px);
						.hack-blur();*/
		}

		.login-right{
			width: 80%;
			height: auto;
			margin: 80px auto;
			float: none;
			&:after{
				display:none;
			}
			.login-content{
				position: relative;
				text-align: center;
				form{
					top:0px;
					width: 80%;
					margin: 0 auto;
				}

			}
			.form-actions{
				width:100% !important;
				float: none !important;
				text-align: center !important;
			}
		}
		.locked-form .locked-content {
			form{
				width:50%;
			}
		}
	}
}
/* Landscape Smarthpone or Vertical Tablet */
@media (max-width: 768px){
	body{
		#app-view{
			.locked-form {
				form{
					width:80%;
				}
			}
			.login-right .login-content {
				padding: 40px 20px;
				.logo-login{
					height:100px;
				}
			}
			.page-container{
				#content-view{

					.content-header{
						padding: 20px 40px 0px !important;
						h1.title-section {
							margin: 0px !important;
							text-align: center;
							div{
								margin-top: 5px;
								display: block !important;
								float: none !important;
								left: 0px !important;
							}
						}
						hr{
							width: 100%;
						}
					}
					.content-filter{
						padding: 0px 40px 0px !important;
						margin-top: 87px !important;
					}
					.content-body{
						padding: 30px 40px 30px !important;
						.tile-group .tile-item-content {
							padding: 40px 30px !important;
						}
						.form-primary {
							.form-entry{
								&.configuration-views{
									button{
										width: 100%;
										max-width:100%;
										margin:3px 0px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Vertical Smartphone*/
@media (max-width: 480px){
	body{
		#app-view{
			.login-right{
				width: 100%;
				height: 100%;
				margin: 0px auto;
				float: left;
				form{
					width: 100% ;
				}
				.login-content {
					.logo-login{
						width: 100%;
						height: auto;
						margin-bottom: 30px;
					}
				}
			}
			.login-content{
				.logo-locked {
					width: 100%;
					height: auto;
					margin-bottom: 30px;
				}
			}
			.page-container{
				#content-view{
					#content{
						.container-content{
							.content-header{
								padding: 20px 10px 0px !important;
							}
							.content-filter{
								padding: 0px 10px 0px !important;
								.form-entry {
									width: 99%!important;
								}
							}
							.content-body{
								padding: 30px 10px 30px !important;
								.tile-group{
									.tile-item-content {
										padding: 20px 20px !important;
									}
									.tile-item-tab ul {
										flex-direction: column;
									}
								}
								&.list{
									.tile-header{
										display: none;
									}
									.tile-footer{
										width: 100%;
									}
								}
								&.table{
									.thead .th {
										width: 100%;
										display: block;
										border-bottom: none;
										padding:2px 5px;
										&.td-hide-responsive-xs {
											display: block !important;
										}
									}
									.tbody .tr .td {
										width: 100%;
										display: block;
										border-bottom: none !important;
										padding:2px 5px;
										line-height: 1.1em;
										&.td-title{
											font-size: 1.3em;
											line-height: 1.1em;
										}
										&.td-hide-responsive-xs {
											display: block !important;
										}
										&:last-child{
											border-bottom: solid 1px rgba(0,0,0,0.1) !important;
											padding: 5px 0px;
										}
										i{
											.zoom(1.5);
										}
									}
								}
								.tile-group.dashboard{
									.tile-item-content h1 {
										height: auto !important;
									}
									.log-container{
										.log-item{
											float: left !important;
											height: auto !important;
											div.img-logactivities{
												display:none !important;
											}
											div.text-logactivities{
												height: auto !important;
											}
											div.time-logactivities{
												height: auto !important;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/* Calendar */
	.fc-left,
	.fc-right{
		display:block !important;
		button{
			width:100% !important;
			display:block !important;
			margin-left:0px !important;
		}
	}
	.popover{
		.pull-right{
			width: 100%;
			text-align: center;
			button{
				float:none !important;
			}
		}
	}
}

/* Not deformed on little screen */
@media (max-width: 300px){
	body{
		#app-view{
			.page-container{
				#menu-view{
					.sidebar-menu{
						.sidebar-menu-inner{
							.logo-env{
								.logo {
									display:none;
								}
								.logo-info {
									left: 10px;
									width: calc(~'100% - 10px');
								}
								.button-menu-responsive{
									background: @color-primary;
									right:10px;
								}
							}
							.main-menu{
								li{
									a{
										padding: 10px 20px !important;
									}
									ul li a{
										padding: 10px 25px !important;
									}
								}
							}
						}
					}
				}
				#content-view #content .container-content{
					.content-header{
						h1.title-section {
							div{
								display:flex !important;
								justify-content: center !important;
							}
						}
					}
					.content-body .tile-group {
						p{
							text-align: center;
							label{
								margin-bottom: 10px;
							}
						}
						.tile-item-content {
							padding: 20px 10px !important;
						}
					}
				}
			}
		}
	}
	.clockpicker-popover{
		margin-left: 10px;
	}
}