@import "/EP-Dashboard/assets/less/variables.less";
/*@import "/dashboard/assets/less/variables.less";*/

body.no-animations *{
	animation : none !important;
	-webkit-transition: none !important;
	transition: none !important;
	transform : none !important;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right !important;
}
.display-block{
	display: block !important;
}
.display-inline-block{
	display: inline-block !important;
}
*:not(i){
    /*font-family: "Noto Sans", sans-serif;*/
	font-family: 'Muli', sans-serif;
}
input[disabled="disabled"]{
	cursor:auto !important;
}
// Prevent yellow background on autocomplete Chrome
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px @color-primary inset !important;
	-webkit-text-fill-color: @white !important;
	/*border-bottom: solid 1px rgba(255,255,255,0.2) !important;*/
	border-bottom: solid 1px #ffffff !important;
}
/*.ng-enter {
	animation : none !important;
	-webkit-transition: none !important;
	transition: none !important;
}
.ng-leave {
	animation : none !important;
	-webkit-transition: none !important;
	transition: none !important;
}*/
*[contenteditable]{
	outline:none;
}
*[contenteditable="false"]{
	cursor:default;
}
*::selection {/* WebKit/Blink Browsers */
	background: @color-secondary-dark;
	color: @color-secondary;
}
*::-moz-selection {/* Gecko Browsers */
	background: @color-secondary-dark;
	color: @color-secondary;
}
a:focus {
	outline:none;
	text-decoration: none;
}
input[type="password"]{
	letter-spacing: 2px;
}
textarea.form-control,
textarea,
textarea[disabled]{
	resize:vertical;
	outline:none;
	color: @color-secondary;
	border:none;
	border-bottom: solid 1px rgba(255,255,255,0.2);
	background: transparent !important;
	border-radius:0px;
	display: block;
    width: 100%;
	padding: 0px;
	top: -5px;
    position: relative;
	min-height: 70px;
    margin-top: 8px;
	padding-left: 10px;
	&:focus {
		border-color: rgba(255,255,255,0.3);
	}
}
textarea[disabled]{
	cursor:auto !important;
}
/* Text Rich */
.ta-toolbar{
	margin: 0px !important;
	.btn-group{
		margin: 0px !important;
		button{
			padding-bottom: 1px;
			width: 40px;
			background-color: white !important;
			border-radius:0px !important;
			border: none;
			border-bottom: solid 3px transparent!important;
		}
		.btn.active {
			box-shadow: none;
			font-weight: bold;
			color: @color-primary;
			border-bottom: solid 3px @color-primary !important;
		}
	}
}
.popover{
	width: auto !important;
	.popover-content{
		a:before{
			content: "URL:";
			margin-right:5px;
		}
		button{
			background-color: white !important;
			border-radius:0px !important;
			border: none;
			&:hover{
				background-color: white !important;
				font-weight: bold;
			}
			&:last-child:not(:first-child) {
				display: none !important;
			}
		}
	}
}
.ta-editor{
	height: auto !important;
	border-radius:2px !important;
	*{
		color: #303030 !important;
	}
	h1{
		margin: 10px auto;
	}
	a{
		color:@color-primary-light !important;
		*{
			color:@color-primary-light !important;
		}
	}
	p {
		position: relative !important;
		bottom: auto !important;
		right: auto !important;
		display: block !important;
		text-align: left !important;
	}
}
[text-angular][disabled]{
	pointer-events: none !important;
}
.icon-edit:before {
    content: '\e87c' !important;
}
.icon-unlink:before {
    content: "\f127" !important;
    font-family: inherit !important;
}

/* STYLES */
html{
	min-width:@min-width-responsive;
}
body{
	background: @background-splash;
	.ie-view{
		background: @color-primary;
		color: @color-secondary;
		display:flex;
		justify-content:center;
		align-items:center;
		img{
			width:50%;
			height:auto;
			margin:0px auto;
			min-width:150px;
		}
	}
	div.blur{
		.blur(4px);
		.hack-blur();
	}
	#app-view{
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		.page-container{
			&>div{
				width: 100%;
				height: 100%;
			}
			display:block;
			#menu-view{
				width:@menu-width;
				height: 100%;
				display: inline-block;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 999;
				.sidebar-menu{
					background: @color-primary;
					width: @menu-width;
					height: 100%;
					position: fixed;
					.sidebar-menu-inner{
						position: fixed;
						width: @menu-width;
						height: 100%;
						bottom: 0;
						overflow-y: auto;
						overflow-x: hidden;
						.logo-env {
							padding: 0px;
							height:100px;
							display: -webkit-flex; /* Safari */
							display: flex;
							align-items: center;
							justify-content:center;
							left:0px;
							overflow: hidden;
							border-bottom: solid 1px rgba(255,255,255,0.2);
							width: @menu-width;
							.sidebar-collapse{
								display:none;
								position: absolute;
								right: 20px;
							}
							.logo-background{
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								display: -webkit-flex; /* Safari */
								display: flex;
								justify-content: center;
								align-items: center;
								overflow: hidden;
								border-radius: 2px;
								img{
									width: 100%;
									opacity: 0.2;
									.blur(3px);
									.hack-blur();
								}
							}
							.logo{
								position: absolute;
								display: block;
								width: auto;
								top: 15px;
								left: 10px;
								height: 70px;
								width: 70px;
								border-radius: 50%;
								overflow: hidden;
								display: flex;
								align-items: center;
								justify-content: center;
								background: @color-primary;
							}
							.logo-info{
								position: absolute;
								display: block;
								width: calc(~'100% - 90px');
								left: 85px;
								color: @white;
								h1{
									overflow: hidden;
									text-transform: uppercase;
									font-size: 22px;
									font-weight: bold;
									margin-top:0px;
									margin-bottom:0px;
									text-shadow: 0px 0px 4px black;
									text-overflow:ellipsis;
								}
								h2{
									overflow: hidden;
									font-size: 12px;
									letter-spacing: 2px;
									margin-top: 0;
									margin-bottom: 0;
									text-shadow: 0px 0px 4px black;
									text-overflow:ellipsis;
									padding-left: 3px;
								}
							}
							.sidebar-mobile-menu{
								position: absolute;
								right: 10px;
								display:none;
							}
						}
						#logo-menu{
							height:100%;
							width:auto;
						}
						.button-menu-responsive{
							a{
								.hover-button-effect-primary() !important;
								cursor:pointer;
								color: @white;
							}
						}
						.main-menu{
							height:auto;
							padding:0px;
							background: @color-primary;
							display:block;
							border:none;
							li{
								border-bottom: solid 1px rgba(255,255,255,0.2);
								ul {
									max-height: 0px;
									display:block;
									border-top: none;
									background-color: rgba(0,0,0, 0.1);
									transition: max-height linear 0.5s;
									&>li a{
										background-color: rgba(0,0,0, 0.05);
									}
								}
								ul.visible {
									transition: max-height linear 0.8s;
									max-height: 500px;
								}
								a {
									cursor: pointer;
									color:@color-text-inverse !important;
								}
								&.active > a {
									background-color: rgba(0,0,0, 0.1);
								}
							}
							a:hover{
								background: rgba(255,255,255,0.1)!important;
							}
							&.open{
								.transition(max-height linear 0.5s);
								li{
									a{
										cursor:pointer;
										border:none !important;
									}
									&.active ul li a{
										background: rgba(0,0,0,0.1)!important;
									}
									&:last-child{
										border-bottom: none;
									}
								}
							}
						}
					}
				}
			}
			#content-view{
				width:@content-width;
				left:@menu-width;
				height: 100%;
				display: inline-block;
				float: right;
				overflow: auto;
				#content{
					height: 100%;
					padding: 0px;
					overflow-x: hidden;
					overflow-y: hidden;
					.container-content{
						overflow: hidden;
						height: 100%;
						background: white;
						position: relative;
						.border-radius(2px);
						.content-header{
							top: 0;
							width: 100%;
							position: relative;
							padding: 80px 80px 0px;
							background: white;
							float: left;
							z-index: 11113;
							h1.title-section{
								margin: 0px 30px;
								color: @color-text-light;
								letter-spacing: 2px;
								font-size: 20px;
								div{
									display: -webkit-flex; /* Safari */
									display: flex;
									float:right;
									position: relative;
									left: 5px;
									top: -2px;
									@width-button : 27px;
									/*width: ((@width-button)*4);*/
									span{
										.animation-inOut(slideInRight,slideOutRight,0.4s,0.4s);
									}
									button{
										&[disabled]{
											opacity:0.3 !important;
											transform : none !important;
											.transition(none) !important;
											cursor:auto !important;
											i:after{
												display:none;
											}
										}
										.border-radius(50%);
										background-color: @color-primary;
										color: @color-secondary;
										cursor: pointer;
										font-size: initial;
										letter-spacing: 0;
										height: @width-button;
										width: @width-button;
										margin: 1px;
										.border-radius(50%);
										.opacity-dark();
										.animation-inOut(slideInRight,slideOutRight,0.3s,0.3s);
										i{
											display: -webkit-flex; /* Safari */
											display: flex;
											justify-content: center;
											align-items: center;
											height:100%;
											width:100%;
											&.entypo-plus:before{
												font-weight: bold;
											}
											&.icon-funnel:before{
												top:0px !important;
												left:0px !important;
											}
											&.icon-squared-cross:before{
												top: 0px !important;
												left:0px !important;
												background: @color-secondary;
												color: @color-primary;
												font-size: 0.8em;
												height: 14px;
											}
											&.icon-document:before{
												left:0px !important;
												.transform(scale(1, 0.8));
											}
											&.icon-save:before{
												left:0px !important;
											}
											&.icon-arrow-down:before,
												&.icon-arrow-up:before{
												top:0px !important;
												left:0px !important;
											}
											&:after{
												line-height: 1.5em;
											}
											&[data-title]:after{
												margin-top:-30px;
												content: attr(data-title);
												.tooltip;
											}
											&[class^=icon]:before{
												position: relative;
												top:-1px;
												left:-1px;
											}
											&:hover[data-title]:after {
												.tooltip-animation;
											}
										}
									}
								}
							}
							hr{
								border-top-color: @color-secondary-dark;
								margin-top: 0px;
								margin-bottom: 3px;
							}
						}
						.content-filter{
							.animation-inOut(slideInDown,slideOutUp,0.3s,0.3s);
							padding: 0px 80px;
							margin-top:113px;
							hr{
								border-top-color: @color-secondary-dark;
								margin-top: 0px;
								margin-bottom: 0px;
							}
							.form-entry{
								width: 49%;
								display:inline-block;
								margin-bottom: 0px !important;
								select,
								input{
									border: solid 1px rgba(0,0,0,0.2);
									color:@color-text-dark;
									padding: 3px 5px;
									.border-radius(2px);
									outline:none;

								}
								select{
									width: 100%;
									position: relative;
									top: -4px;
									height: 24px;
									option{
										text-transform: capitalize;
									}
								}
							}
						}
						.container-include{
							width:100%;
							height:100%;
						}
						.content-body{
							height: calc(~'100% - 110px');
							width: 100%;
							position: relative;
							overflow: auto;
							padding: 30px 80px 40px;
							.no-results{
								img{
									max-height: 40px;
									width: auto;
									opacity: 0.5;
									display: block;
									margin: 50px auto 0px;
								}
								h2{
									text-align: center;
									margin: 5px 0px;
									color: @color-text-light;
									font-size: 18px;
									display: block;
									width: 100%;
								}
							}
							.item{
								.animation-inOut();
							}
						}
						&[data-title]:after{
							content: attr(data-title);
							.tooltip;
						}
						&:hover[data-title]:after {
							.tooltip-animation;
						}
						/* Edit item page */
						.tile-group{
							display:block;
							min-height: 100%;
							height: auto;
							margin-bottom:0px;
							padding: 1px;
							position: relative;
							background: @color-primary;
							#loading-calendar{
								height: 100%;
								position: absolute;
								width: 100%;
								top: 0px;
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								h1{
									font-size: 1em;
									display:block;
									width:100%;
									text-align: center;
								}
								i{
									font-size: 1.5em;
								}
							}
							.inputfile {
								width: 0.1px;
								height: 0.1px;
								opacity: 0;
								overflow: hidden;
								position: absolute;
								z-index: -1;
							}
							p{
								margin-bottom: 0;
								position: absolute;
								bottom: 13px;
								right: 5px;
								.transition(all linear 0.3s);
								display:none;
								label{
									width: 125px;
									i{
										font-weight: normal;
										width: 100%;
										height: 100%;
										cursor:pointer;
										display: -webkit-flex; /* Safari */
										display: flex;
										justify-content: center;
										align-items: center;
										font-size:20px;
										&[data-title]:after{
											width: 125px;
											content: attr(data-title);
											.tooltip;
										}
										&:hover[data-title]:after {
											.tooltip-animation;
										}
									}
								}
							}
							/* Show tooltip if not exist image */
							img + p{
								i[data-title]:after{
									.tooltip-animation;
								}
							}
							img + p{
								display:block
							}
							.tile-image{
								display:block;
								overflow: hidden;
								position: relative;
								height: @height-image-item;
								width:100%;
								display: flex;
								align-items: center;
								background: @color-primary;
								border: solid 1px @color-primary;
								border-bottom: solid 1px rgba(0,0,0,0.2);
								.background-default;
								img{
									width:100%;
									height:auto;
									position:absolute;
									left:0px;
								}
								img.preview{
									display:none;
								}
								i:after{
									.transition(all 0.15s linear) !important;
									opacity:0.9 !important;
								}
								&:hover i:after{
									opacity:1 !important;
								}

							}
							.tile-item-tab{
								ul{
									padding-left:0px;
									margin-bottom: 0px;
									text-align: center;
									width:100%;
									display:flex;
									justify-content: space-around;
									li{
										display:inline-block;
										list-style: none;
										padding: 4px 0px;
										opacity:0.8;
										cursor:pointer;
										width: 100%;
										border-bottom: solid 3px rgba(0,0,0,0.1);
										/*background-color:rgba(255,255,255,0.2);*/
										&:hover{
											opacity:1;
										}
										&.active{
											border-bottom: solid 3px @color-secondary;
											/*background-color:transparent;*/
											/*border-right: solid 1px rgba(0,0,0,0.2);*/
											/*border-left: solid 1px rgba(0,0,0,0.2);*/
										}
									}
								}
							}
							.tile-item-content{
								width:100%;
								display:block;
								background: @color-primary;
								padding: 50px 50px;
								height: calc(~'100% - 150px');
								position: relative;
								.form-entry.remember{
									top:5px;
								}
								select{
									background: @color-primary;
									color: @white;
									border: none;
									outline:none;
									font-weight: lighter;
									display: block;
									border-bottom: solid 1px rgba(255,255,255,0.2);
									width: 100%;
									padding-left: 5px;
									option{
										text-transform: capitalize;
									}
								}
								.toogle-type-input{
									position: absolute;
									top: 15px;
									right: 0px;
									cursor: pointer;
									color: @color-primary;
									i{
										&[data-title]:after{
											width: 125px;
											content: attr(data-title);
											.tooltip;
											font-family: 'Muli', sans-serif;
										}
										&:hover[data-title]:after {
											.tooltip-animation;
											top: -20px;
											width: auto;
											right: -20px;
										}
									}
								}
								input[type=password] + .toogle-type-input{
									i.fa-eye-slash{
										display:none;
									}
								}
								input[type=text] + .toogle-type-input{
									i.fa-eye{
										display:none;
									}
								}
							}

						}
						.tile-group.dashboard{
							height:100%;
							.tile-item-content{
								height: 100%;
								padding: 0px !important;
								h1{
									width:100%;
									height:30px;
									background: @color-primary-light;
									margin:0px;
									text-transform: uppercase;
									color:white;
									font-size:1em;
									padding: 8px 10px;
								}
								/* LOGACTIVITIES*/
								.log-container{
									width:100%;
									position: relative;
									height: calc(~'100% - 30px');
									overflow: auto;
									display:block;
									.border-radius(2px);
									border:solid 1px rgba(255,255,255,0.2);
									.log-content{
										display:block;
										width:100%;
										background:@color-secondary;
										min-height: 100%;
										position: absolute;
										.no-log-items{
											img{
												max-height: 40px;
												width: auto;
												opacity: 0.5;
												display: block;
												margin: 100px auto 0px;
											}
											h2{
												text-align: center;
												margin: 5px 0px;
												color: @color-text-inverse;
												font-size: 18px;
												display: block;
												width: 100%;
											}
										}
										.log-item{
											padding: 5px 10px;
											border-bottom: solid 1px rgba(0,0,0,0.1);
											display:block;
											height:30px;
											width:100%;
											color: @color-text-dark;
											cursor:pointer;
											&:hover{
												background: rgba(0,0,0,0.1);
												border-bottom: none;
											}
											.link-tooltip{
												position: relative;
												display: inline-block;
												a{
													color: @color-text-dark;
													&:hover{
														color: @color-text-dark;
													}
													i{
														width: 100%;
														height: 100%;
														cursor: pointer;
														display: -webkit-flex; /* Safari */
														display: flex;
														justify-content: center;
														align-items: center;
														font-style:normal;
														&[data-title]:after{
															width: 130px;
															content: attr(data-title);
															.tooltip;
															margin-top:-20px;
															margin-left:-25px;
															left:-100000%;
														}
														&:hover[data-title]:after {
															.tooltip-animation;
															left:0px;
														}
													}
												}
											}
											div.img-logactivities{
												width:20px;
												height:20px;
												overflow:hidden;
												border-radius: 50%;
												display:flex;
												float:left;
												justify-content:center;
												align-items:center;
												img{
													height:100%;
													width:auto;
												}
											}
											div.text-logactivities{
												width: auto;
												height:20px;
												float:left;
												align-items:center;
												padding-left:5px;
												*{
													margin:0px;
												}
											}
											div.time-logactivities{
												width: auto;
												height:20px;
												float:right;
												text-align: right;
												color: @color-text-light;
											}
										}
									}
								}
							}
							.no-admin{
								text-align: center;
								/*padding-top:80px;*/
								height:100%;
								border: dashed 1px rgba(255,255,255,0.1);
								display:flex;
								justify-content:center;
								align-items:center;
								img{
									width:50%;
									height:auto;
									margin:0px auto;
									min-width:150px;
								}
							}
						}
					}
				}
			}
		}
	}
}


/* FORMS */
.form-primary {
	.form-entry{
		padding: 0px;
		position:relative;
		background: transparent !important;
		width:100%;
		margin-bottom:20px !important;
		border-bottom: none;
		input[type=password],
		input[type=text]{
			color: @color-secondary;
			outline:none;
			line-height: 1em;
			padding: 5px 0px 1px 10px;
			width:100%;
			height:auto;
			font-weight: normal;
			position: relative;
			top: -5px;
			.border-radius(0px);
			.hover-button-effect-primary();
			border-top:none;
			border-left:none;
			border-right:none;
			border-bottom:solid 1px rgba(255,255,255,0.2);
			&:not([type=text]):hover{
				background: transparent !important;
			}
		}
		input[type=text][kendo-date-picker]{
			padding: 5px 0px 1px 0px;
		}
		input[type=checkbox]{
			outline:none;
		}
		input[type=file]{
			display:none;
		}
		.label-input-file{
			height: 23px;
			width:100%;
			cursor:pointer;
			background: transparent;
			color: white;
			font-weight: lighter;
			padding-left: 10px;
			border-radius:0px;
			border: none;
			border-bottom:solid 1px rgba(255,255,255,0.2);
			&:focus{
				border-bottom:solid 1px rgba(255,255,255,0.3);
			}
		}
		&.buttons{
			display:flex;
			justify-content: center;
			position:absolute;
			bottom: 20px;
			margin-bottom: 0px !important;
			left: 0px;
		}
		.btn-item{
			.button-primary();
			.hover-button-effect-primary();
			i{
				margin-right: 5px;
				color: @color-text-inverse;
			}
		}

		label.control-label{
			margin-bottom: 1px;
			color: @color-text-inverse;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: normal;
			font-size:0.7em;
			display:block;
			opacity: 0.8;
			span{
				text-transform: capitalize;
			}
			i{
				font-size: 1.1em;
			}
		}
		.label-checkbox{
			display: block;
			width: 20px;
			height: 20px;
			margin: 0px;
			padding:5px;
			position:relative;
			top:-3px;
			opacity: 0.8;
		}
		span.label-tag{
			display: inline-block;
			background: @color-primary-light;
			padding: 2px 8px;
			border-radius: 2px;
			margin-right: 5px;
			.delete-label{
				margin-left: 5px;
				font-weight: lighter;
				font-size: 10px;
				top: -1px;
				position: relative;
				cursor:pointer;
			}
		}
		.delete-input{
			position: absolute;
			cursor:pointer;
			right: 0px;
			top: 12px;
			color: @color-secondary;
			background: transparent;
			border: none;
			outline: none;
			font-size: 1.2em;
			&[data-title]:after{
				width: 130px;
				content: attr(data-title);
				.tooltip;
				margin-top:-20px;
				margin-left:-23px;
				left:-100000%;
			}
			&:hover[data-title]:after {
				.tooltip-animation;
				left:-40px;
			}
		}
		input[type=file]+.delete-input{
			top: 12px;
		}
		.download-input{
			position: absolute;
			cursor:pointer;
			right: 40px;
			top: 12px;
			color: @color-secondary;
			background: transparent;
			border: none;
			outline: none;
			&[data-title]:after{
				width: 130px;
				content: attr(data-title);
				.tooltip;
				margin-top:-40px;
				margin-left:-23px;
				left:-100000%;
			}
			&:hover[data-title]:after {
				.tooltip-animation;
				left:-40px;
			}
		}

		&.form-createdby{
			padding-left:10px;
			label{
				margin-left: -10px;
			}
		}
		&.configuration-views{
			button{
				box-shadow: none !important;
				position: relative;
				color: @color-secondary !important;
				background-color: @color-primary;
				margin: 5px 3px;
				margin-bottom: 15px;
				font-size: 1em;
				outline: none;
				width: 30%;
				max-width: 200px;
				padding: 4px 5px;
				height: auto;
				border: solid 1px rgba(255,255,255,0.2) !important;
				.border-radius(2px);
				.transition(all .2s ease-out) !important;
				&.active-view{
					background-color: @color-primary-light;
				}
			}
		}
	}
}
body.no-animations{
	.form-primary {
		.form-entry{
			&.configuration-views{
				button{
					.transition(none) !important;
				}
			}
		}
	}
}
/* CHECKBOXES */
input[type=checkbox]{
	display: none;
	&+div{
		cursor:pointer;
		display: block;
		width: 20px;
		height: 20px;
		overflow: hidden;
		border-radius: 2px;
		border: solid 1px rgba(255,255,255,0.3);
		&.dark{
			border: solid 1px rgba(0,0,0,0.3);
			padding-top:3px;
		}
	}
	&[disabled="disabled"]+div{
		cursor:auto !important;
	}
	&:checked + div:after{
		content: 'X';
		width: 15px;
		height: 15px;
		display: block;
		text-align: center;
		position: relative;
		color: @color-secondary;
		margin: 0px;
		top: -1px;
		left: 1px;
	}
	&:checked + div.dark:after{
		color: @color-primary;
	}
}
/*input[type=checkbox]{
	&:checked + div:after{
		top: 2px !important;
	}
}*/
/* ANIMATION UI-VIEWS */
#content{
	.transition(all 0.4s);
	.container-content {
		.transition(all 0.4s ease-out);
		.translate3d(0px,0,0);
		animation : fadeInLeft 0.4s;
	}
}

/* SWEET-ALERT*/
.swal2-container{
	.swal2-modal {
		padding:15px !important;
		&.hideSweetAlert{
			-webkit-animation-duration: 0.4s;
			animation-duration: 0.4s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-name: zoomOut;
			animation-name: zoomOut;
		}
		background: @color-primary !important;
		color:@color-secondary;
		animation-duration: 0.5s;
		border: solid 1px white;
		box-shadow: 0 0 1px 1px black;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.border-radius(2px);
		.hack-blur();
		.swal2-icon,
		.swal2-image{
			display: none !important;
		}
		h2{
			margin: 10px auto;
			font-size: 22px;
			color:@color-secondary;
		}
		hr{
			display: none !important;
		}
		button{
			box-shadow: none !important;
			position: relative;
			margin-top:10px !important;
			.button-primary();
			.border-radius(2px) !important;
			.hover-button-effect-primary() !important;
			&:active{
				.press-button();
			}
			i{
				margin-right: 5px;
			}
			&.cancel:focus{
				box-shadow: none !important;
			}
			&.cancel::after{
				width: 20px;
				height: 20px;
				display: block;
				background: red;

			}
		}
		.sa-button-container{
			display: -webkit-flex; /* Safari */
			display: flex;
			justify-content: center;
			flex-direction: row-reverse;
		}
	}
	&.swal2-in {
		background-color: rgba(0, 0, 0, 0.80);
		/*background-color: rgba(255,255,255,0.80);*/
		outline: none;
		z-index:999;
		.hack-blur();
	}
}


/* TOASTER*/
body.no-animations{
	#toast-container{
		.toast{
			&.ng-enter {
				animation : none!important;
				-webkit-animation : none !important;
			}
			&.ng-leave {
				animation : none !important;
				-webkit-animation : none !important;
			}
		}
	}

}
#toast-container{
	& >div{
		padding: 0px;
		margin-bottom: 5px;
		.opacity(1);
	}
	.toast{
		margin: 5px 0px;
		z-index:998;
		padding: 15px;
		width: 100%;
		.box-shadow(0 0 0px #000000) !important;
		.animation-inOut(fadeInRight, fadeOutRight, 0.5s , 0.5s);
		&:before {
			float: left;
			position: relative;
			margin-left: 0px;
			top: 3px;
			margin-right: 10px;
		}
		&.entypo-thumbs-up{ /* Success */
			background-color: @color-primary;
			/*background-color: #51A351;*/
		}
		&.entypo-thumbs-down{ /* Error */
			background-color: #BD362F;
		}
		&>div{
			display: inline-block;
			font-weight: normal;
		}
		.toast-message::first-letter {
			text-transform: uppercase;
		}

	}
	&:hover > div:hover{
		.opacity(0.7);
		.blur(3px);
		.hack-blur();
	}
}
:not(.no-enter)#toast-container > div.ng-enter.ng-enter-active {
    opacity: 1 !important;
}


/* TOOLTIP*/
.tooltip{
	font-size:14px;
    padding: 2px 7px;
    line-height: 1em;
	position: absolute;
	margin-left: 0px;
	white-space: nowrap;
	z-index: 20;
	text-align: center;
	background: @color-primary;
	color: @color-secondary;
	border: solid 1px @color-text-inverse;
	.opacity(0);
	.border-radius(2px);
	.box-shadow(0px 0px 1px 1px @color-primary);
	top:-10000%; /*Prevent hover effect on tooltip */
}
.tooltip-animation{
	top:auto;
	.transition(all 0.15s linear);
	.opacity(1);
	.transition(opacity 0.1s linear 1.2s);
}

/* KENDO CALENDAR*/
[kendo-date-picker]{
	background: @color-primary;
}
.k-datepicker{
	display: block;
    width: 100%;
    border: none;
	background: transparent;
	margin-bottom: 17px;
	.k-state-default,
	.k-state-disabled{
		background: @color-primary;
		padding: 0px;
		height: 15px;
		border: none;
		border-radius: 0px;
		box-shadow:none;
		.k-select {
			border: none;
			width: 100%;
			min-height: 0px;
			.k-icon{
				display: none;
				opacity:1;
			}
		}
	}
	.k-state-disabled{
		.k-select {
			cursor: auto;
		}
	}
}
.k-calendar {
	.k-header{
		background: @color-primary-light;
		.k-nav-prev {
			left: 1.429em;
		}
		.k-nav-next {
			right: 1.429em;
		}
		.k-link.k-state-hover {
			border-radius:2px;
			background: rgba(0,0,0,0.1) !important;
		}
	}
	td{
		border-radius:2px;
		&:hover{
			background: rgba(0,0,0,0.1);
		}
		&.k-today {
			background: transparent;
			border: solid 1px @white;
			box-shadow: none;
			/*border: none;*/
			/*font-weight:bold;*/
			&:hover{
				background: rgba(0,0,0,0.1);
			}
			&>.k-link{
				color: @color-primary-light;
				min-height: 0px;
				line-height: 1em;
				padding: 6px 8px;

			}
		}
		&.k-state-selected {
			background: @color-primary-light;
			border:none;
			&:hover{
				background: @color-primary-light;
			}
			&>.k-link{
				border:none;
				color: @color-secondary;
			}
		}
		&.k-state-focused,
		&.k-state-selected.k-state-focused {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.k-footer{
		display:none !important;
	}
}
/* TIME PICKER */
.clockpicker{
	width:100%;
	input[type=text]{
		padding-left:10px;
	}
}
.clockpicker-popover{
	border: none;
    padding: 0px;
	-webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
	.popover-title {
		background-color:@color-primary-light;
		color: @white;
		border-radius: 2px 2px 0 0;
		font-weight: normal;
		.text-primary {
			color:@white;
		}
	}
	.popover-content {
		background-color: @white;
	}
	.popover-content:last-child {
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
	.clockpicker-canvas-bg-trans {
		fill: rgba(0, 0, 0, 0.1);
	}
	.clockpicker-canvas-bg {
		fill:  @color-primary-light  !important;
		color:white !important;
		stroke:  none;
	}
	.clockpicker-canvas line {
		stroke:  @color-primary-light;
		color:white !important;
	}
	.clockpicker-canvas-bearing, .clockpicker-canvas-fg {
		fill: @color-primary-light;
		color:white !important;
	}
	.clockpicker-tick:hover {
		/*background-color: rgba(144, 154, 173, 0.5);*/
		background-color: rgba(0, 0, 0, 0.1);
	}
}

/* BUTTON HEXAGON */
.button-hexagon{
	.hb{
		margin-left: 5px;
	}
	.hb, .hb:after, .hb:before {
		color: @color-secondary;
		background-color: @color-primary;
		border-left: 1px solid @color-primary;
		border-right: 1px solid @color-primary;
	}
	.hb:hover, .hb:hover:after, .hb:hover:before {
		background: 0 0;
		border-left: 1px solid @color-primary;
		border-right: 1px solid @color-primary;
		color: @color-primary;

	}
	.hb-xs, .hb-xs:after, .hb-xs:before {
		height: 14.5px;
		width: 25px;
		line-height: 14.5px;
		font-size: 14.5px;
	}
	i:hover[data-title]:after {
		.tooltip-animation;
		left: 0px;
		letter-spacing: 0px;
		margin-top: -30px;
		margin-left: -40px;
	}
	i:after{
		line-height: 1.5em;
	}
	i[data-title]:after{
		margin-top:-30px;
		content: attr(data-title);
		.tooltip;
	}
}

/* DEFAULT BACKGROUND WHEN ITEM HASN'T IMAGE */
.background-default{
	&.empty{
		background: url(../images/default-xs.png) !important;
		background-repeat: no-repeat!important;
		background-position: 50% 50%!important;
	}
}
.content-body{

	.tile-progress{
		&.desactive{
			.tile-header{
				&.empty{
					background: url(../images/default-xs-basic.png) !important;
					background-repeat: no-repeat!important;
					background-position: 50% 50%!important;
					border-right: rgba(0,0,0,0.2);
				}
			}
		}
	}
}

/* DIRECTIVE RESIZE IMAGE RESPONSIVE */
img[resizeimgresponsive]{
	height:  inherit;
	&.width-responsive{
		width:100% !important;
		height:auto !important;
	}
	&.height-responsive{
		height: 100% !important;
		width:auto !important;
	}
}

/* ANGULAR AUTOCOMPLETE */
#_dropdown{
	width: 100%;
	border: solid 1px rgba(255,255,255,0.1);
	top:25px;
	background: @color-primary;
	&.ng-hide{
		padding:0px
	}
	.angucomplete-row {
		padding: 10px 0;
		margin: 0px;
		color: white;
		border-radius: 2px;
		&.angucomplete-selected-row {
			background-color: rgba(255,255,255,0.1);
		}
		.angucomplete-image-holder {
			padding-top: 0px;
			margin-top: -5px;
			.angucomplete-image {
				border: none;
				height: 30px;
				width: 30px;
			}
			.angucomplete-image-default {
				height: 30px;
				width: 30px;
				border-radius: 50%;
				background: @color-primary-light;
				opacity:0.5;
			}
		}
		.angucomplete-title{
			span.highlight{
				color: rgba(255,255,255,0.5);
			}
		}
	}
}

/* SLIDERS */
.rzslider {
	/*margin: 20px 0 35px 0;*/
	margin: 35px 0 10px 0;
	.rz-bar-wrapper {
		height: 20px;
		padding-top: 5px;
		margin-top: -10px;
		.rz-bar {
			height: 2px;
			background: rgba(255,255,255,0.1);
		}
	}
	.rz-pointer {
		top: -14px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: @color-primary-light;
		outline: none;
		&:after {
			top: 6px;
			left: 6px;
		}
		&.rz-active:after {
			background-color: @color-secondary;
		}
	}
	.rz-bubble {
		color: @color-secondary;
		/*bottom: -25px;*/
		bottom: 18px;
		&.rz-limit {
			/*color: rgba(255,255,255,0.5);*/
			color: @color-text-inverse;
		}
	}
}

/* SWITCH BUTTON */
.switch {
	margin-top: 5px;
	height: 20px;
	width:50px;
	border: solid 1px rgba(255,255,255,0.1);
	border-color: rgba(255,255,255,0.1);
	background: @color-primary;
	background-color: @color-primary;
}
.switch small {
	height: 20px;
    width: 20px;
}
.switch.checked {
	background: @color-primary-light;
	background-color: @color-primary-light;
	border-color: rgba(255,255,255,0.1);
	border: solid 1px rgba(255,255,255,0.1);

}
.switch.checked small {
	left: 30px;
}

/* COLOR PICKER */
input[type=text][minicolors]{
	height: 40px !important;
    padding-left: 40px !important;
	cursor:pointer !important;
}
.minicolors-theme-bootstrap .minicolors-swatch {
    top: 2px;
	border-radius: 50%;
}
.minicolors-panel {
	background: @white;
    top: -55px !important;
    height: 52px;
    /*top: -185px !important;*/
	/*height: auto;*/
    border: none;
    border-radius: 2px;
}
.minicolors-slider.minicolors-sprite,
.minicolors-grid.minicolors-sprite{
	display: none;
}


/*SPLASH*/
[ng-cloak].splash {
	display: none !important;
}
.splash {
	display: flex!important;
    height: 100%;
    width: 100%;
	top: 0px;
    left: 0px;
    position: absolute;
    z-index: 99999999;
    justify-content: center;
    align-items: center;
    background-color: @background-splash;
	.transition(background-color 2s linear);
	.container-splash{
		opacity:0.7;
		img{
			display: block;
			margin: 0px auto;
		}
		.img-logo{
		}
		.img-splash{
			height: 200px;
			margin-top: -65px;
		}
		h1{
			color:@white;
			margin:0;
			margin-top: -30px;
		}
	}
}
.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid #FFF;
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    /*box-shadow: 0 0 35px #FFF;*/
    width: 80px;
    height: 80px;
    margin: 0 auto;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}

.ball1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid #FFF;
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    /*box-shadow: 0 0 15px #FFF;;*/
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: -65px;
    -moz-animation: spinoff 1s infinite linear;
    -webkit-animation: spinoff 1s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}




@import "/EP-Dashboard/assets/less/functions.less";
@import "/EP-Dashboard/assets/less/grid.less";
@import "/EP-Dashboard/assets/less/list.less";
@import "/EP-Dashboard/assets/less/table.less";
@import "/EP-Dashboard/assets/less/login.less";
@import "/EP-Dashboard/assets/less/calendar.less";
@import "/EP-Dashboard/assets/less/styles-basic.less";
@import "/EP-Dashboard/assets/less/styles-responsive.less";
@import "/EP-Dashboard/assets/less/styles-browsers.less";
/*@import "/dashboard/assets/less/functions.less";
@import "/dashboard/assets/less/grid.less";
@import "/dashboard/assets/less/list.less";
@import "/dashboard/assets/less/table.less";
@import "/dashboard/assets/less/login.less";
@import "/dashboard/assets/less/calendar.less";
@import "/dashboard/assets/less/styles-basic.less";
@import "/dashboard/assets/less/styles-responsive.less";
@import "/dashboard/assets/less/styles-browsers.less";*/