/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28-ago-2017, 19:58:25
    Author     : Gabriel
*/
body.firefox{
	button:hover{
		i[data-title]:after {
			.tooltip-animation !important;
			margin-top: -50px !important;
		}
	}
	a:hover{
		i[data-title]:after {
			.tooltip-animation !important;
			margin-top: -50px !important;
		}
	}
	.form-primary .form-entry input[type=password],
	.form-primary .form-entry input[type=text] {
		line-height: 1.3em;
	}
}