@import "/EP-Dashboard/assets/less/variables.less";
/*@import "/dashboard/assets/less/variables.less";*/
@background-basic: #e2e2e2;

body.theme_basic{
	#app-view .page-container #content-view #content .container-content {
		background: @background-basic;
		.content-header {
			background: @background-basic;
			.title-section{
				color: @white;
				text-shadow: 0px 0px 1px @color-text-dark,0px 0px 1px @color-text-dark,0px 0px 1px @color-text-dark,0px 0px 1px @color-text-dark,0px 0px 1px @color-text-dark,0px 0px 1px @color-text-dark,0px 0px 1px @color-text-dark;
				div button {
					background: @white;
					color: @color-text-dark;
				}
			}
			hr {
				border-top-color: @color-text-light;
			}
		}
		.tile-group{
			background: @white;
			color: @color-text-dark;
			.tile-item-tab ul li.active {
				border-bottom: solid 3px @color-text-dark;
			}
			.tile-item-content {
				background: @white;
			}
			.tile-image{
				border-left: none;
				border-right: none;
				border-top: none;
			}
			.log-container{
				border: solid 1px rgba(0,0,0,0.2) !important;
			}
		}
		.no-log-items h2 {
			color: @color-text-light !important;
		}
		.content-body .no-results h2 {
			color: @color-text-light;
		}
		/*Inputs*/
		.form-primary .form-entry label.control-label {
			color: @color-text-dark;
			font-weight: bold;
		}
		.tile-item-content select {
			background: @white;
			color: @color-text-dark;
			border-bottom: solid 1px rgba(0,0,0,0.2);
		}
		.form-primary .form-entry input[type=password],
		.form-primary .form-entry input[type=text] {
			border-bottom: solid 1px rgba(0,0,0,0.2);
			color: @color-text-dark;
		}
		.form-primary .form-entry input[type=password]:active,
			.form-primary .form-entry input[type=text]:active,
			.form-primary .form-entry input[type=password]:focus,
			.form-primary .form-entry input[type=text]:focus {
			border-color: rgba(0,0,0,0.3);
		}
		textarea.form-control,
		textarea,
		textarea[disabled] {
			border-bottom: solid 1px rgba(0,0,0,0.2);
			color: @color-text-dark;
		}
		textarea.form-control:focus,
			textarea:focus,
			textarea[disabled]:focus {
			border-color: rgba(0,0,0,0.3);
		}
		.form-primary .form-entry .label-input-file {
			border-bottom: solid 1px rgba(0,0,0,0.2);
			color: @color-text-dark;
		}
		.form-primary .form-entry .label-input-file:focus {
			border-bottom: solid 1px rgba(0,0,0,0.3);
		}
		.form-primary .form-entry .delete-input {
			color: @color-primary;
		}
		input[type=checkbox]+div {
			border: solid 1px rgba(0,0,0,0.3);
			color: @color-text-dark;
		}
		input[type=checkbox]:checked+div:after {
			color: @color-primary;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}
		.form-primary .form-entry.configuration-views button {
			color: @color-primary !important;
			background-color: @white;
			border: solid 1px @color-primary-light !important;
			&.active-view {
				background-color: @color-primary;
				color:@white !important;
			}
		}
		.form-primary .form-entry span.label-tag {
			color:@white;
		}
		.fc-view-container{
			border: solid 1px rgba(0,0,0,0.2);
			.fc-view{
				border: none;
				td.fc-today.fc-widget-content {
					background: @color-primary-lighten;
				}
			}
			.fc-list-empty {
				font-size:1.3em;
				color: @color-text-dark;
			}
		}
		#loading-calendar h1 {
			color: @color-text-dark;
			font-size: 1.3em;
			margin:15px auto;
		}
		/* Configurations */
		.k-datepicker .k-state-default, .k-datepicker .k-state-disabled {
			background: @white;
		}
		.switch {
			border: solid 1px rgba(0,0,0,0.1);
			border-color: rgba(0,0,0,0.1);
			background: @white;
			background-color: @white;
		}
		.switch.checked {
			background: @color-primary;
			background-color: @color-primary;
		}
		.rzslider .rz-bar-wrapper .rz-bar {
			background: rgba(0,0,0,0.1);
		}
		.rzslider .rz-bubble.rz-limit {
			color: @color-text-light;
		}
		.rzslider .rz-bubble {
			color:  @color-primary;
		}
		/* */
	}
}


/*WHITE AND GREY*/
/*@background-basic: #fff;
body.theme_basic{
	#app-view .page-container #content-view #content .container-content {
		background: @background-basic;
		.content-header {
			background: @background-basic;
			.title-section{
				color: @color-text-light;
				text-shadow: none;
				div button {
					color: @color-primary;
					border: solid 2px @color-primary;
				}
			}
			hr {
				border-top-color:@color-text-light;
			}
		}
		i[data-title]:after {
			background: @white !important;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
			color: @color-text-dark !important;
			border: solid 1px @color-text-light !important;
		}
		.tile-group{
			background: @white;
			color: @color-text-dark;
			border: solid 1px @color-text-light;
			.tile-item-tab ul li.active {
				border-bottom: solid 3px @color-text-dark;
			}
			.tile-item-content {
				background: @white;
			}
			.tile-image{
				border-left: none;
				border-right: none;
				border-top: none;
			}
		}
	}
}*/


/* WHITE AND COLOR */
@background-basic: #fff;
body.theme_basic{
	#app-view .page-container #content-view #content .container-content {
		background: @background-basic;
		.content-header {
			background: @background-basic;
			.title-section{
				color: @color-primary;
				text-shadow: none;
				span{
					opacity:0.6;
				}
				/*				color: @white;
												font-weight:bold;
												text-shadow: 0px 0px 1px @color-primary,
													5px 0px 3px @color-primary,
													-5px 0px 3px @color-primary,
													0px 5px 3px @color-primary,
													0px -5px 3px @color-primary,
													5px 5px 3px @color-primary,
													5px -5px 3px @color-primary,
													-5px 5px 3px @color-primary,
													-5px -5px 3px @color-primary;*/
				div button {
					color: @color-primary;
					border: solid 2px @color-primary;
				}
			}
			hr {
				border-top-color:@color-primary;
			}
		}
		i[data-title]:after{
			background: @white !important;
			color: @color-primary !important;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
			border: solid 1px @color-primary !important;
		}
		.tile-group{
			background: @white;
			color: @color-text-dark;
			border: solid 1px @color-text-light;
			.tile-item-tab ul li.active {
				border-bottom: solid 3px @color-primary;
			}
			.tile-item-content {
				background: @white;
			}
			.tile-image{
				border-left: none;
				border-right: none;
				border-top: none;
			}
		}
		.form-primary .form-entry label.control-label {
			color: @color-primary;
			font-weight: bold;
		}
	}
}



/* BACKGROUND GREY */
/*@background-basic: #f3f3f3;
body.theme_basic{
	#app-view .page-container #content-view #content .container-content {
		background: @background-basic;
		.content-header {
			background: @background-basic;
		}
		.content-body .no-results h2 {
			color: @color-text-dark;
		}
	}
}*/



/*ITEMS*/
body.theme_basic{
	.content-body.grid,
	.content-body.list{
		.tile-progress.active{
			background: @white;
			border:solid 1px @color-primary;
		}
		.tile-progress.desactive{
			background: @white;
			border:solid 1px rgba(0,0,0,0.2);
			.tile-header .image-item {
				opacity: 0.2 !important;
			}
			.tile-footer{
				.tile-footer-buttons{
					border-top: solid 1px rgba(0,0,0,0.2);
					a i{
						opacity:0.3;
						&:hover{
							opacity:1;
						}
					}
				}
				span {
					a{
						color: @color-text-light;
					}
				}
			}
		}
		.tile-footer{
			color:@color-primary;
			background: @white;
			.tile-footer-buttons{
				border-top: solid 1px rgba(0,0,0,0.2);
				background: @white !important;
				a i{
					color: @color-primary;
					opacity:0.9;
					&:hover{
						opacity:1;
					}
				}
			}
			span {
				color:@color-text-dark;
				a{
					color:@color-text-dark;
				}
			}
		}
	}
}
body.theme_basic{
	.content-body.list{
		.tile-progress{
			border:solid 1px @white !important;
			border-left:none !important;
			.tile-header{
				border:solid 1px rgba(0,0,0,0.2) !important;
				border-radius: 2px 0px 0px 2px!important;
				border-right: none!important;
			}
			.tile-footer{
				border:solid 1px rgba(0,0,0,0.2) !important;
			}
			.tile-footer-buttons{
				height: 25px;
				bottom: 0px;
			}
		}
		.tile-progress.active{
			.tile-header{
				border: solid 1px @color-primary !important;
			}
			.tile-footer{
				border: solid 1px @color-primary !important;
			}
		}
	}
}

body.theme_basic #app-view .page-container #content-view #content .container-content .tile-group .tile-image.empty {
	background: url(../images/default-xs-basic.png) !important;
	background-repeat: no-repeat !important;
    background-position: 50% 50%!important;
}
body.theme_basic .content-body.list .tile-header.empty {
	background: url(../images/default-xs-basic.png) !important;
	background-repeat: no-repeat !important;
    background-position: 50% 50%!important;
}
body.theme_basic .content-body.grid .tile-header.empty {
	background: url(../images/default-xs-basic.png) !important;
	background-repeat: no-repeat !important;
    background-position: 50% 50%!important;
}