.content-body.table{
	.table{
		.border-radius(2px);
		border-left: none;
		border-right: none;
		margin-bottom:0px;
		border-top: none;
		border-bottom: none;
		display:table;
		.thead{
			display:table-header-group;
			.tr{
				display:table-row;
			}
			.th{
				display:table-cell;
				border-right: solid 1px transparent;
				padding: 5px 5px;
				background: @color-primary;
				color:@color-secondary;
				font-size:12px;
				text-transform:uppercase;
				letter-spacing:0px;
				&:last-child{
					background:@color-secondary;
					border-top: solid 1px transparent;
					border-right: solid 1px transparent;
					&.th-selectAll{
						text-align: right;
						text-transform: capitalize;
						font-size:0.75em;
						cursor:pointer;
						color: @color-primary;
						white-space: nowrap;
						text-align: right;
						padding: 0px 0px 6px 10px;
					}
				}
			}
		}
		.tbody{
			display: table-row-group;
			.tr{
				border-left: none;
				border-right: none;
				display:table-row;
				&.item-active .td{
					opacity:1;
					border-bottom: solid 1px rgba(0,0,0,0.1) !important;
				}
				.td{
					opacity:0.3;
					padding:4px 5px;
					border-left: none;
					border-right: none;
					display:table-cell;
					border-bottom: solid 1px rgba(0,0,0,0.35);
					div{
						max-height: 60px;
						max-width: 350px;
						overflow: hidden;
					}
					a{
						color: #333;
						&:hover{
							color: #333;
						}
					}
					label{
						margin-bottom: 0px;
					}
					p{
						margin-bottom: 0px;
					}
					&:last-child{
						width:88px;
						line-height: 1em;
						/*opacity:1;*/
						text-align: center;
						justify-content: center;
						vertical-align: middle;
						opacity:1;
						border-bottom: solid 1px rgba(0,0,0,0.1);
						i{
							position:relative;
							cursor:pointer;
							color: @color-primary;
							opacity:0.4;
							.opacity-dark();
							margin-top:-5px;
							&.entypo-pencil{
								font-size:16px;
							}
							&.entypo-block{
								font-size:13px;
								top:-1px;
							}
							&.entypo-cancel{
								font-size:20px;
								top:2px;
							}
							&.entypo-publish{
								top:2px;
							}
						}
						i[data-title]:after{
							content: attr(data-title);
							margin-top: -20px;
							margin-left: -40px !important;
							.tooltip;
						}
						i:hover[data-title]:after {
							.tooltip-animation;
						}
					}
				}
			}
		}
	}
	.post-table{
		text-align: right;
		font-size:0.75em;
		cursor:pointer;
		text-transform: capitalize;
		padding-top: 6px;
	}
}