/*************/
/* VARIABLES */
/*************/
/* SIZES */
@min-width-responsive: 200px;
@menu-width: 250px;
@menu-height: 60px;
@content-width: calc(~'100% - '@menu-width);
@height-item: 200px;
@height-image-item: 150px;

/* COLOURS VARIABLES */
@grey-primary:#303641;
@black-primary:#262626;
@red-primary:#bc3e3e;
@blue-primary:#5272a5;
@white: white;
@grey: #b3b3b3;
@black: #303030;

/* COLOURS */
@background-splash: @black-primary;
@color-primary: @grey-primary;
@color-secondary: @white;
@color-primary-light-1: lighten(@color-primary, 1%);
@color-primary-light: lighten(@color-primary, 20%);
@color-primary-lighten: lighten(@color-primary, 40%);
@color-primary-traslucent: lighten(@color-primary, 60%);
@color-primary-dark: darken(@color-primary, 20%);
@color-primary-darken: darken(@color-primary, 40%);
@color-secondary-light: lighten(@color-secondary, 20%);
@color-secondary-lighten: lighten(@color-secondary, 40%);
@color-secondary-dark:  darken(@color-secondary, 20%);
@color-secondary-darken:  darken(@color-secondary, 40%);

@color-text-inverse: @white;
@color-text-light: @grey;
@color-text-dark: @black;
