
.icon-aircraft-landing:before { content: '\e800'; } /* '' */
.icon-aircraft-take-off:before { content: '\e801'; } /* '' */
.icon-align-bottom:before { content: '\e802'; } /* '' */
.icon-align-horizontal-middle:before { content: '\e803'; } /* '' */
.icon-align-left:before { content: '\e804'; } /* '' */
.icon-align-right:before { content: '\e805'; } /* '' */
.icon-align-top:before { content: '\e806'; } /* '' */
.icon-align-vertical-middle:before { content: '\e807'; } /* '' */
.icon-archive:before { content: '\e808'; } /* '' */
.icon-area-graph:before { content: '\e809'; } /* '' */
.icon-arrow-bold-down:before { content: '\e80a'; } /* '' */
.icon-arrow-bold-left:before { content: '\e80b'; } /* '' */
.icon-arrow-bold-right:before { content: '\e80c'; } /* '' */
.icon-arrow-bold-up:before { content: '\e80d'; } /* '' */
.icon-arrow-down:before { content: '\e80e'; } /* '' */
.icon-arrow-left:before { content: '\e80f'; } /* '' */
.icon-arrow-long-down:before { content: '\e810'; } /* '' */
.icon-arrow-long-left:before { content: '\e811'; } /* '' */
.icon-arrow-long-right:before { content: '\e812'; } /* '' */
.icon-arrow-long-up:before { content: '\e813'; } /* '' */
.icon-arrow-right:before { content: '\e814'; } /* '' */
.icon-arrow-up:before { content: '\e815'; } /* '' */
.icon-arrow-with-circle-down:before { content: '\e816'; } /* '' */
.icon-arrow-with-circle-left:before { content: '\e817'; } /* '' */
.icon-arrow-with-circle-right:before { content: '\e818'; } /* '' */
.icon-arrow-with-circle-up:before { content: '\e819'; } /* '' */
.icon-attachment:before { content: '\e81a'; } /* '' */
.icon-awareness-ribbon:before { content: '\e81b'; } /* '' */
.icon-back:before { content: '\e81c'; } /* '' */
.icon-back-in-time:before { content: '\e81d'; } /* '' */
.icon-bar-graph:before { content: '\e81e'; } /* '' */
.icon-battery:before { content: '\e81f'; } /* '' */
.icon-beamed-note:before { content: '\e820'; } /* '' */
.icon-bell:before { content: '\e821'; } /* '' */
.icon-blackboard:before { content: '\e822'; } /* '' */
.icon-block:before { content: '\e823'; } /* '' */
.icon-book:before { content: '\e824'; } /* '' */
.icon-bookmark:before { content: '\e825'; } /* '' */
.icon-bookmarks:before { content: '\e826'; } /* '' */
.icon-bowl:before { content: '\e827'; } /* '' */
.icon-box:before { content: '\e828'; } /* '' */
.icon-briefcase:before { content: '\e829'; } /* '' */
.icon-browser:before { content: '\e82a'; } /* '' */
.icon-brush:before { content: '\e82b'; } /* '' */
.icon-bucket:before { content: '\e82c'; } /* '' */
.icon-bug:before { content: '\e82d'; } /* '' */
.icon-cake:before { content: '\e82e'; } /* '' */
.icon-calculator:before { content: '\e82f'; } /* '' */
.icon-calendar:before { content: '\e830'; } /* '' */
.icon-camera:before { content: '\e831'; } /* '' */
.icon-ccw:before { content: '\e832'; } /* '' */
.icon-chat:before { content: '\e833'; } /* '' */
.icon-check:before { content: '\e834'; } /* '' */
.icon-chevron-down:before { content: '\e835'; } /* '' */
.icon-chevron-left:before { content: '\e836'; } /* '' */
.icon-chevron-right:before { content: '\e837'; } /* '' */
.icon-chevron-small-down:before { content: '\e838'; } /* '' */
.icon-chevron-small-left:before { content: '\e839'; } /* '' */
.icon-chevron-small-right:before { content: '\e83a'; } /* '' */
.icon-chevron-small-up:before { content: '\e83b'; } /* '' */
.icon-chevron-thin-down:before { content: '\e83c'; } /* '' */
.icon-chevron-thin-left:before { content: '\e83d'; } /* '' */
.icon-chevron-thin-right:before { content: '\e83e'; } /* '' */
.icon-chevron-thin-up:before { content: '\e83f'; } /* '' */
.icon-chevron-up:before { content: '\e840'; } /* '' */
.icon-chevron-with-circle-down:before { content: '\e841'; } /* '' */
.icon-chevron-with-circle-left:before { content: '\e842'; } /* '' */
.icon-chevron-with-circle-right:before { content: '\e843'; } /* '' */
.icon-chevron-with-circle-up:before { content: '\e844'; } /* '' */
.icon-circle:before { content: '\e845'; } /* '' */
.icon-circle-with-cross:before { content: '\e846'; } /* '' */
.icon-circle-with-minus:before { content: '\e847'; } /* '' */
.icon-circle-with-plus:before { content: '\e848'; } /* '' */
.icon-circular-graph:before { content: '\e849'; } /* '' */
.icon-clapperboard:before { content: '\e84a'; } /* '' */
.icon-classic-computer:before { content: '\e84b'; } /* '' */
.icon-clipboard:before { content: '\e84c'; } /* '' */
.icon-clock:before { content: '\e84d'; } /* '' */
.icon-cloud:before { content: '\e84e'; } /* '' */
.icon-code:before { content: '\e84f'; } /* '' */
.icon-cog:before { content: '\e850'; } /* '' */
.icon-colours:before { content: '\e851'; } /* '' */
.icon-compass:before { content: '\e852'; } /* '' */
.icon-controller-fast-backward:before { content: '\e853'; } /* '' */
.icon-controller-fast-forward:before { content: '\e854'; } /* '' */
.icon-controller-jump-to-start:before { content: '\e855'; } /* '' */
.icon-controller-next:before { content: '\e856'; } /* '' */
.icon-controller-paus:before { content: '\e857'; } /* '' */
.icon-controller-play:before { content: '\e858'; } /* '' */
.icon-controller-record:before { content: '\e859'; } /* '' */
.icon-controller-stop:before { content: '\e85a'; } /* '' */
.icon-controller-volume:before { content: '\e85b'; } /* '' */
.icon-copy:before { content: '\e85c'; } /* '' */
.icon-creative-commons:before { content: '\e85d'; } /* '' */
.icon-creative-commons-attribution:before { content: '\e85e'; } /* '' */
.icon-creative-commons-noderivs:before { content: '\e85f'; } /* '' */
.icon-creative-commons-noncommercial-eu:before { content: '\e860'; } /* '' */
.icon-creative-commons-noncommercial-us:before { content: '\e861'; } /* '' */
.icon-creative-commons-public-domain:before { content: '\e862'; } /* '' */
.icon-creative-commons-remix:before { content: '\e863'; } /* '' */
.icon-creative-commons-share:before { content: '\e864'; } /* '' */
.icon-creative-commons-sharealike:before { content: '\e865'; } /* '' */
.icon-credit:before { content: '\e866'; } /* '' */
.icon-credit-card:before { content: '\e867'; } /* '' */
.icon-crop:before { content: '\e868'; } /* '' */
.icon-cross:before { content: '\e869'; } /* '' */
.icon-cup:before { content: '\e86a'; } /* '' */
.icon-cw:before { content: '\e86b'; } /* '' */
.icon-cycle:before { content: '\e86c'; } /* '' */
.icon-database:before { content: '\e86d'; } /* '' */
.icon-dial-pad:before { content: '\e86e'; } /* '' */
.icon-direction:before { content: '\e86f'; } /* '' */
.icon-document:before { content: '\e870'; } /* '' */
.icon-document-landscape:before { content: '\e871'; } /* '' */
.icon-documents:before { content: '\e872'; } /* '' */
.icon-dot-single:before { content: '\e873'; } /* '' */
.icon-dots-three-horizontal:before { content: '\e874'; } /* '' */
.icon-dots-three-vertical:before { content: '\e875'; } /* '' */
.icon-dots-two-horizontal:before { content: '\e876'; } /* '' */
.icon-dots-two-vertical:before { content: '\e877'; } /* '' */
.icon-download:before { content: '\e878'; } /* '' */
.icon-drink:before { content: '\e879'; } /* '' */
.icon-drive:before { content: '\e87a'; } /* '' */
.icon-drop:before { content: '\e87b'; } /* '' */
.icon-edit:before { content: '\e87c'; } /* '' */
.icon-email:before { content: '\e87d'; } /* '' */
.icon-emoji-flirt:before { content: '\e87e'; } /* '' */
.icon-emoji-happy:before { content: '\e87f'; } /* '' */
.icon-emoji-neutral:before { content: '\e880'; } /* '' */
.icon-emoji-sad:before { content: '\e881'; } /* '' */
.icon-erase:before { content: '\e882'; } /* '' */
.icon-eraser:before { content: '\e883'; } /* '' */
.icon-export:before { content: '\e884'; } /* '' */
.icon-eye:before { content: '\e885'; } /* '' */
.icon-eye-with-line:before { content: '\e886'; } /* '' */
.icon-feather:before { content: '\e887'; } /* '' */
.icon-fingerprint:before { content: '\e888'; } /* '' */
.icon-flag:before { content: '\e889'; } /* '' */
.icon-flash:before { content: '\e88a'; } /* '' */
.icon-flashlight:before { content: '\e88b'; } /* '' */
.icon-flat-brush:before { content: '\e88c'; } /* '' */
.icon-flow-branch:before { content: '\e88d'; } /* '' */
.icon-flow-cascade:before { content: '\e88e'; } /* '' */
.icon-flower:before { content: '\e88f'; } /* '' */
.icon-flow-line:before { content: '\e890'; } /* '' */
.icon-flow-parallel:before { content: '\e891'; } /* '' */
.icon-flow-tree:before { content: '\e892'; } /* '' */
.icon-folder:before { content: '\e893'; } /* '' */
.icon-folder-images:before { content: '\e894'; } /* '' */
.icon-folder-music:before { content: '\e895'; } /* '' */
.icon-folder-video:before { content: '\e896'; } /* '' */
.icon-forward:before { content: '\e897'; } /* '' */
.icon-funnel:before { content: '\e898'; } /* '' */
.icon-game-controller:before { content: '\e899'; } /* '' */
.icon-gauge:before { content: '\e89a'; } /* '' */
.icon-globe:before { content: '\e89b'; } /* '' */
.icon-graduation-cap:before { content: '\e89c'; } /* '' */
.icon-grid:before { content: '\e89d'; } /* '' */
.icon-hair-cross:before { content: '\e89e'; } /* '' */
.icon-hand:before { content: '\e89f'; } /* '' */
.icon-heart:before { content: '\e8a0'; } /* '' */
.icon-heart-outlined:before { content: '\e8a1'; } /* '' */
.icon-help:before { content: '\e8a2'; } /* '' */
.icon-help-with-circle:before { content: '\e8a3'; } /* '' */
.icon-home:before { content: '\e8a4'; } /* '' */
.icon-hour-glass:before { content: '\e8a5'; } /* '' */
.icon-image:before { content: '\e8a6'; } /* '' */
.icon-image-inverted:before { content: '\e8a7'; } /* '' */
.icon-images:before { content: '\e8a8'; } /* '' */
.icon-inbox:before { content: '\e8a9'; } /* '' */
.icon-infinity:before { content: '\e8aa'; } /* '' */
.icon-info:before { content: '\e8ab'; } /* '' */
.icon-info-with-circle:before { content: '\e8ac'; } /* '' */
.icon-install:before { content: '\e8ad'; } /* '' */
.icon-key:before { content: '\e8ae'; } /* '' */
.icon-keyboard:before { content: '\e8af'; } /* '' */
.icon-lab-flask:before { content: '\e8b0'; } /* '' */
.icon-landline:before { content: '\e8b1'; } /* '' */
.icon-language:before { content: '\e8b2'; } /* '' */
.icon-laptop:before { content: '\e8b3'; } /* '' */
.icon-layers:before { content: '\e8b4'; } /* '' */
.icon-leaf:before { content: '\e8b5'; } /* '' */
.icon-level-down:before { content: '\e8b6'; } /* '' */
.icon-level-up:before { content: '\e8b7'; } /* '' */
.icon-lifebuoy:before { content: '\e8b8'; } /* '' */
.icon-light-bulb:before { content: '\e8b9'; } /* '' */
.icon-light-down:before { content: '\e8ba'; } /* '' */
.icon-light-up:before { content: '\e8bb'; } /* '' */
.icon-line-graph:before { content: '\e8bc'; } /* '' */
.icon-link:before { content: '\e8bd'; } /* '' */
.icon-list:before { content: '\e8be'; } /* '' */
.icon-location:before { content: '\e8bf'; } /* '' */
.icon-location-pin:before { content: '\e8c0'; } /* '' */
.icon-lock:before { content: '\e8c1'; } /* '' */
.icon-lock-open:before { content: '\e8c2'; } /* '' */
.icon-login:before { content: '\e8c3'; } /* '' */
.icon-log-out:before { content: '\e8c4'; } /* '' */
.icon-loop:before { content: '\e8c5'; } /* '' */
.icon-magnet:before { content: '\e8c6'; } /* '' */
.icon-magnifying-glass:before { content: '\e8c7'; } /* '' */
.icon-mail:before { content: '\e8c8'; } /* '' */
.icon-man:before { content: '\e8c9'; } /* '' */
.icon-map:before { content: '\e8ca'; } /* '' */
.icon-mask:before { content: '\e8cb'; } /* '' */
.icon-medal:before { content: '\e8cc'; } /* '' */
.icon-megaphone:before { content: '\e8cd'; } /* '' */
.icon-menu:before { content: '\e8ce'; } /* '' */
.icon-merge:before { content: '\e8cf'; } /* '' */
.icon-message:before { content: '\e8d0'; } /* '' */
.icon-mic:before { content: '\e8d1'; } /* '' */
.icon-minus:before { content: '\e8d2'; } /* '' */
.icon-mobile:before { content: '\e8d3'; } /* '' */
.icon-modern-mic:before { content: '\e8d4'; } /* '' */
.icon-moon:before { content: '\e8d5'; } /* '' */
.icon-mouse:before { content: '\e8d6'; } /* '' */
.icon-mouse-pointer:before { content: '\e8d7'; } /* '' */
.icon-music:before { content: '\e8d8'; } /* '' */
.icon-network:before { content: '\e8d9'; } /* '' */
.icon-new:before { content: '\e8da'; } /* '' */
.icon-new-message:before { content: '\e8db'; } /* '' */
.icon-news:before { content: '\e8dc'; } /* '' */
.icon-newsletter:before { content: '\e8dd'; } /* '' */
.icon-note:before { content: '\e8de'; } /* '' */
.icon-notification:before { content: '\e8df'; } /* '' */
.icon-notifications-off:before { content: '\e8e0'; } /* '' */
.icon-old-mobile:before { content: '\e8e1'; } /* '' */
.icon-old-phone:before { content: '\e8e2'; } /* '' */
.icon-open-book:before { content: '\e8e3'; } /* '' */
.icon-palette:before { content: '\e8e4'; } /* '' */
.icon-paper-plane:before { content: '\e8e5'; } /* '' */
.icon-pencil:before { content: '\e8e6'; } /* '' */
.icon-phone:before { content: '\e8e7'; } /* '' */
.icon-pie-chart:before { content: '\e8e8'; } /* '' */
.icon-pin:before { content: '\e8e9'; } /* '' */
.icon-plus:before { content: '\e8ea'; } /* '' */
.icon-popup:before { content: '\e8eb'; } /* '' */
.icon-power-plug:before { content: '\e8ec'; } /* '' */
.icon-price-ribbon:before { content: '\e8ed'; } /* '' */
.icon-price-tag:before { content: '\e8ee'; } /* '' */
.icon-print:before { content: '\e8ef'; } /* '' */
.icon-progress-empty:before { content: '\e8f0'; } /* '' */
.icon-progress-full:before { content: '\e8f1'; } /* '' */
.icon-progress-one:before { content: '\e8f2'; } /* '' */
.icon-progress-two:before { content: '\e8f3'; } /* '' */
.icon-publish:before { content: '\e8f4'; } /* '' */
.icon-quote:before { content: '\e8f5'; } /* '' */
.icon-radio:before { content: '\e8f6'; } /* '' */
.icon-remove-user:before { content: '\e8f7'; } /* '' */
.icon-reply:before { content: '\e8f8'; } /* '' */
.icon-reply-all:before { content: '\e8f9'; } /* '' */
.icon-resize-100%:before { content: '\e8fa'; } /* '' */
.icon-resize-full-screen:before { content: '\e8fb'; } /* '' */
.icon-retweet:before { content: '\e8fc'; } /* '' */
.icon-rocket:before { content: '\e8fd'; } /* '' */
.icon-round-brush:before { content: '\e8fe'; } /* '' */
.icon-rss:before { content: '\e8ff'; } /* '' */
.icon-ruler:before { content: '\e900'; } /* '' */
.icon-save:before { content: '\e901'; } /* '' */
.icon-scissors:before { content: '\e902'; } /* '' */
.icon-select-arrows:before { content: '\e903'; } /* '' */
.icon-share:before { content: '\e904'; } /* '' */
.icon-shareable:before { content: '\e905'; } /* '' */
.icon-share-alternative:before { content: '\e906'; } /* '' */
.icon-shield:before { content: '\e907'; } /* '' */
.icon-shop:before { content: '\e908'; } /* '' */
.icon-shopping-bag:before { content: '\e909'; } /* '' */
.icon-shopping-basket:before { content: '\e90a'; } /* '' */
.icon-shopping-cart:before { content: '\e90b'; } /* '' */
.icon-shuffle:before { content: '\e90c'; } /* '' */
.icon-signal:before { content: '\e90d'; } /* '' */
.icon-sound:before { content: '\e90e'; } /* '' */
.icon-sound-mix:before { content: '\e90f'; } /* '' */
.icon-sound-mute:before { content: '\e910'; } /* '' */
.icon-sports-club:before { content: '\e911'; } /* '' */
.icon-spreadsheet:before { content: '\e912'; } /* '' */
.icon-squared-cross:before { content: '\e913'; } /* '' */
.icon-squared-minus:before { content: '\e914'; } /* '' */
.icon-squared-plus:before { content: '\e915'; } /* '' */
.icon-star:before { content: '\e916'; } /* '' */
.icon-star-outlined:before { content: '\e917'; } /* '' */
.icon-stopwatch:before { content: '\e918'; } /* '' */
.icon-suitcase:before { content: '\e919'; } /* '' */
.icon-swap:before { content: '\e91a'; } /* '' */
.icon-sweden:before { content: '\e91b'; } /* '' */
.icon-switch:before { content: '\e91c'; } /* '' */
.icon-tablet:before { content: '\e91d'; } /* '' */
.icon-tablet-mobile-combo:before { content: '\e91e'; } /* '' */
.icon-tag:before { content: '\e91f'; } /* '' */
.icon-text:before { content: '\e920'; } /* '' */
.icon-text-document:before { content: '\e921'; } /* '' */
.icon-text-document-inverted:before { content: '\e922'; } /* '' */
.icon-thermometer:before { content: '\e923'; } /* '' */
.icon-thumbs-down:before { content: '\e924'; } /* '' */
.icon-thumbs-up:before { content: '\e925'; } /* '' */
.icon-thunder-cloud:before { content: '\e926'; } /* '' */
.icon-ticket:before { content: '\e927'; } /* '' */
.icon-time-slot:before { content: '\e928'; } /* '' */
.icon-tools:before { content: '\e929'; } /* '' */
.icon-traffic-cone:before { content: '\e92a'; } /* '' */
.icon-trash:before { content: '\e92b'; } /* '' */
.icon-tree:before { content: '\e92c'; } /* '' */
.icon-triangle-down:before { content: '\e92d'; } /* '' */
.icon-triangle-left:before { content: '\e92e'; } /* '' */
.icon-triangle-right:before { content: '\e92f'; } /* '' */
.icon-triangle-up:before { content: '\e930'; } /* '' */
.icon-trophy:before { content: '\e931'; } /* '' */
.icon-tv:before { content: '\e932'; } /* '' */
.icon-typing:before { content: '\e933'; } /* '' */
.icon-uninstall:before { content: '\e934'; } /* '' */
.icon-unread:before { content: '\e935'; } /* '' */
.icon-untag:before { content: '\e936'; } /* '' */
.icon-upload:before { content: '\e937'; } /* '' */
.icon-upload-to-cloud:before { content: '\e938'; } /* '' */
.icon-user:before { content: '\e939'; } /* '' */
.icon-users:before { content: '\e93a'; } /* '' */
.icon-v-card:before { content: '\e93b'; } /* '' */
.icon-video:before { content: '\e93c'; } /* '' */
.icon-video-camera:before { content: '\e93d'; } /* '' */
.icon-vinyl:before { content: '\e93e'; } /* '' */
.icon-voicemail:before { content: '\e93f'; } /* '' */
.icon-wallet:before { content: '\e940'; } /* '' */
.icon-warning:before { content: '\e941'; } /* '' */
.icon-water:before { content: '\e942'; } /* '' */
.icon-address:before { content: '\e943'; } /* '' */
.icon-add-to-list:before { content: '\e944'; } /* '' */
.icon-add-user:before { content: '\e945'; } /* '' */
.icon-adjust:before { content: '\e946'; } /* '' */
.icon-air:before { content: '\e947'; } /* '' */
.icon-aircraft:before { content: '\e948'; } /* '' */